@import "../../global.scss";

.links {
  background-color: $color-background-two-light;

  &__empty {
    padding-top: 32px;
  }
}

.main--dark .links {
  background-color: $color-background-two-dark;
}
