@import "../../global.scss";

.link-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "input" "error" "submit";
  padding: 16px;
  background-color: $color-dark-violet;
  background-image: url("../../img/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  border-radius: 8px;

  @media #{$screen-medium} {
    grid-template-columns: auto 160px;
    grid-template-rows: 1fr;
    grid-template-areas: "input submit";
    gap: 4px 32px;
    padding: 32px 48px;
    background-image: url("../../img/bg-shorten-desktop.svg");
    background-size: 100% 100%;

    &--error {
      grid-template-rows: 1fr auto;
      grid-template-areas: "input submit" "error error";
    }
  }

  &__input {
    grid-area: input;
    padding: 12px;
    border: none;
    border-radius: 8px;

    &:focus {
      outline: none;
    }
  }

  &--error .link-form__input {
    padding: 10px;
    border: 2px solid $color-red;

    &::placeholder {
      color: $color-red-hover;
    }
  }

  &__error {
    display: none;
    grid-area: error;
    margin-top: 4px;
    color: $color-red !important;
    font-style: italic;
  }

  &--error .link-form__error {
    display: block;

    @media #{$screen-medium} {
      align-self: center;
    }
  }

  &__button {
    grid-area: submit;
    margin-top: 12px;
    padding: 9px 24px;
    font-size: 0.9em;
    font-weight: $font-weight-bold;
    color: $color-white;
    background-color: $color-cyan;
    border: none;
    border-radius: 8px;

    @media #{$screen-medium} {
      margin-top: 0px;
    }
  }
}
