// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

// Font Variables
$font-family-normal: "Poppins", sans-serif;
$font-size-normal: 18px;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Media Query Variables
$screen-small: "(min-width: 600px)";
$screen-medium: "(min-width: 900px)";
$screen-large: "(min-width: 1200px)";

// Global Color Variables
$color-cyan: hsl(180, 66%, 49%);
$color-dark-violet: hsl(257, 27%, 26%);
$color-red: hsl(0, 87%, 67%);
$color-gray: hsl(0, 0%, 75%);
$color-grayish-violet: hsl(258, 7%, 63%);
$color-very-dark-blue: hsl(255, 11%, 22%);
$color-very-dark-violet: hsl(260, 8%, 14%);
$color-white: hsl(0, 0%, 100%);

// Light Mode Color Variables
$color-heading-light: hsl(260, 8%, 14%);
$color-text-light: hsl(257, 7%, 63%);
$color-background-one-light: hsl(0, 0%, 100%);
$color-background-two-light: hsl(0, 0%, 80%);

// Dark Mode Color Variables
$color-heading-dark: hsl(260, 8%, 86%);
$color-text-dark: hsl(257, 7%, 37%);
$color-background-one-dark: hsl(0, 0%, 0%);
$color-background-two-dark: hsl(0, 0%, 20%);

// Social Media Color Variables
$color-facebook-blue: hsl(221, 44%, 41%);
$color-twitter-blue: hsl(197, 100%, 47%);
$color-youtube-red: hsl(2, 64%, 47%);
$color-pinterest-red: hsl(357, 70%, 46%);
$color-instagram-orange: hsl(11, 90%, 61%);

// Scale Logo's Height to its Width
$logo-height-scale: 121 / 33;
@mixin scale-logo-width($height) {
  height: $height;
  width: $height * $logo-height-scale;
}

// Transition Variables
$time-transition-normal: 0.25s;
