@import "./global.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: $font-family-normal;
  font-size: $font-size-normal;
  font-weight: $font-weight-medium;
  transition: $time-transition-normal;
}

.main {
  background-color: $color-background-one-light;

  .container {
    width: 97%;
    margin: 0px auto;

    @media #{$screen-medium} {
      width: 95%;
    }
    @media #{$screen-large} {
      width: 90%;
    }
    @media #{$screen-extra-large} {
      width: 85%;
    }
  }

  .heading {
    margin-bottom: 16px;
    font-weight: $font-weight-bold;
    font-size: 1em;
    text-align: center;
    color: $color-heading-light;
    line-height: 1.3em;

    &--large {
      font-size: 1.25em;

      @media #{$screen-small} {
        font-size: 1.5em;
      }

      @media #{$screen-medium} {
        font-size: 1.75em;
      }

      @media #{$screen-large} {
        font-size: 2em;
      }
    }

    &--medium {
      font-size: 1.25em;

      @media #{$screen-small} {
        font-size: 1.25em;
      }

      @media #{$screen-medium} {
        font-size: 1.5em;
      }

      @media #{$screen-large} {
        font-size: 1.75em;
      }
    }

    &--small {
      font-size: 1em;

      @media #{$screen-small} {
        font-size: 1em;
      }

      @media #{$screen-medium} {
        font-size: 1em;
      }

      @media #{$screen-large} {
        font-size: 1.25em;
      }
    }

    &--align-left {
      text-align: left;

      &-on-medium {
        text-align: center;
        @media #{$screen-medium} {
          text-align: left;
        }
      }
    }

    &--align-right {
      text-align: right;

      &-on-medium {
        text-align: center;
        @media #{$screen-medium} {
          text-align: right;
        }
      }
    }
  }

  .text {
    text-align: center;
    color: $color-text-light;
    line-height: 1.7em;

    &--small {
      font-size: 0.9em;
    }

    &--smaller {
      font-size: 0.8em;
    }

    &--align-left {
      text-align: left;

      &-on-medium {
        text-align: center;
        @media #{$screen-medium} {
          text-align: left;
        }
      }
    }

    &--align-right {
      text-align: right;

      &-on-medium {
        text-align: center;
        @media #{$screen-medium} {
          text-align: right;
        }
      }
    }
  }

  .button {
    display: block;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &--cta {
      padding: 9px 24px;
      font-size: 0.9em;
      font-weight: $font-weight-bold;
      color: $color-white;
      background-color: $color-cyan;
      border: none;
      border-radius: 32px;

      &:hover {
        background-color: $color-cyan-hover;
      }

      @media #{$screen-medium} {
        padding: 12px 32px;
      }
    }
  }

  .link {
    text-decoration: none;
  }

  .logo {
    position: relative;
  }

  .logo-svg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  &--dark {
    background-color: $color-background-one-dark;

    .heading {
      color: $color-heading-dark;
    }

    .text {
      color: $color-text-dark;
    }
  }
}
